database:
  url: "mysql+pymysql://root:password@127.0.0.1/cela"
  # use below line to use test database
  # url: "mysql+pymysql://root:password@127.0.0.1/test_cela"

jwt:
  # run `openssl rand -hex 32` to generate a new secret
  # do not use the below secret in production
  # please replace it with a secure secret
  secret: "153cd8047a05b55021980850bda0c564b9469f4aef5cff59b4256521e979a6d4"
  algorithm: "HS256"
  ttl_minutes: 30