database:
  url: "mysql+pymysql://root:password@127.0.0.1/fastservice"
  # 如果想通过 pytest 来跑一个干净的测试，使用下面的数据库配置
  # url: "mysql+pymysql://root:password@127.0.0.1/test_fastservice"

jwt:
  # 执行 openssl rand -hex 32 生成随机密钥
  # 生产环境中请勿直接使用下述密钥，请自行生成
  secret: "153cd8047a05b55021980850bda0c564b9469f4aef5cff59b4256521e979a6d4"
  algorithm: "HS256"
  ttl_minutes: 30